.team {
  &-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
  }
  &-item {
    text-align: center;
    width: 20%;
    min-width: 170px;
    margin-bottom: 20px;
    &:hover {
      color: #000000;
    }
  }
  &-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    transition: .3s linear;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 1px;
    }
  }
  &-title {
    font-size: 20px;
  }
}
.about {
  &-block {
    p {
      margin: 0 0 20px;
      font-size: 18px;
    }
    .btn-holder {
      margin: 30px 0;
    }
    margin-bottom: 40px;
    .team-item {
      text-align: center;
      margin: 40px auto 20px;
      max-width: 180px;
      width: 180px;
    }
  }
}
@media(min-width:768px) {
  .about {
    &-aside {
      width: 252px;
      min-width: 252px;
      text-align: center;
      
    }
    &-text {
      width: calc(100% - 252px);
      padding-right: 40px;
      
    }
    &-block {
      display: flex;
      flex-direction: row-reverse;  
      p {
        font-size: 20px;
      }
      
    }
  }
}