.burger {
  &-toggle {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
    display: block;
    span {
      position: absolute;
      background: $fontColor;
      left: 5px;
      width: 22px;
      height: 3px;
      &:nth-child(1) {
        top: 8px;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        top: 20px;
      }
    }
  }
  &-button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: '';
      width: 1px;
      background: $lineColor;
      position: absolute;
      top: 8px;
      bottom: 8px;
      right: 0;
    }
  }
}

@media (min-width: 768px) {
  .burger {
    &-button {
      width: 64px;
      &:after {
        top: 11px;
        bottom: 11px;
      }
    }
  }
}
@media (min-width: 1280px) {
  .burger {
    &-button {
      display: none;
    }
  }
}

@media (max-width: 374px) {
  .burger-button {
    width: 46px;
  }
}