.countdown {
  &-container {
    margin-bottom: 2rem;    
    width: 100%;

  }
  &-section {
    .section-body {
      z-index: 1;
      width: 100%;
      margin: 6vw auto;
      padding: 20px 0;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: 0;
        right: 0;
        position: absolute;
        transform: skewY(-3deg);
        background-color: $black;
      }
      .container {
        position: relative;
        z-index: 1;
      }
      // &:before {
      //   content: "";
      //   position: absolute;
      //   top: -6vw;
      //   left: 0;
      //   right: 0;
      //   width: 0;
      //   height: 0;
      //   border-top: 6vw solid transparent;
      //   border-right: 100vw solid $black;
      //   border-bottom: 0 solid transparent;
      // }
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  &-title {
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 1rem;
    color: rgb(255, 233, 40);
  }
}
.clock {
  &-row {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    position: relative;
    width: 50%;
    margin-top: 20px;
    .wrap {
      margin: 0 auto;
    }
    .val {
      color: $white;
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      line-height: 1;
      text-align: center;
      font-size: 50px;
      text-transform: uppercase;
      font-weight: 700;
    }
    .type-time {
      text-align: center;
      color: $white;
      font-size: 20px;
      line-height: 1.2;
      margin: 10px 0 0;
    }
  }
  &-canvas {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    &:before {
      content:"";
      position: absolute;
      width: 110px;
      height: 110px;
      top: 5px;
      left: 5px;
      border: 2px solid #777;
      border-radius: 50%;
    }
  }
}
@media (min-width:768px) {
  .countdown {
    &-title {
      font-size: 30px;
    }
  }
  .clock {
    &-item {
      width: 25%;
    }    
  }
}