button {
  cursor: pointer;
  background: none;
  border: 0;
  font-family: $content-font;
}
label {
  font-family: $content-font;
}
.btn {
  line-height: 1;
  font-family: $content-font;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 4rem; 
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  
  align-self: start;

  &-primary {
    color: rgb(253, 255, 252);
    &:hover {  
      color: rgb(253, 255, 252);
      // background-color: $btnHover; 
      // opacity: 1;  
    }
    &:active,
    &:focus { 
      // background-color: $btnActive;     
    }
    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgb(12, 9, 13);
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      transform: skewY(-4deg);
    }
  }
  &-delete {
    padding: 0;
  }
  &-link {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    // color: $btn;
    transition: .3s linear;
    &:hover {
      // color: $btnHover;
    }
  }
  &-secondary {
    color: rgb(12, 9, 13);
    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
      width: 100%;
      height: 100%;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      background-color: rgb(255, 233, 40);
      transform: skewY(-4deg);
    }
  }
  // &-outline {
  //   color: $fontColor;
  //   font-size: 14px;
  //   line-height: 20px;
  //   border: 1px solid $btn;
  //   padding: 9px 20px;
  //   background-color: $white;
  //   &:hover {
  //     border-color: $btnHover;
  //     color: $fontColor;
  //   }
  // }
//   // &-secondary {
//   //   // background-color: $btnSecondary;
//   //   // color: $white;
//   //   &:hover { 
//   //     // color: $white; 
//   //     // opacity: 1;  
//   //     // background-color: $btnSecondaryHover;   
//   //   }
//   //   &:active,
//   //   &:focus {   
//   //     // background-color: $btnSecondaryActive;   
//   //   }
//   // }
//   // &-outline {
//   //   &-primary {
//   //     // background-color: $white;
//   //     // border:1px solid $btn;
//   //     // color:  $btn;
//   //     &:hover {  
//   //       // color:  $btnHover;   
//   //       // border:1px solid $btnHover; 
//   //     }
//   //     &:active,
//   //     &:focus {      
//   //     }
//   //   }
//   //   &-secondary {
//   //     // background-color: $white;
//   //     // border:1px solid $btnSecondary;
//   //     // color:  $btnSecondary;
//   //     // &:hover {  
//   //     //   color:  $btnSecondaryHover;   
//   //     }
//   //     &:active,
//   //     &:focus {      
//   //     }
      
//   //   }
//   // }
//   &-lg {
//     height: 60px;
//     padding: 20px 30px;
//     font-size: 15px;
//   }
  // &-sm {
  //   height: 40px;
  //   padding: 8px 16px;
  //   font-size: 14px;
  //   line-height: 24px;
  // }
  // &-m {
  //   padding: 16px 24px;
  // }
  // &-block {
  //   width: 100%;
  // }
  // &-row {
  //   display: flex;
  //   flex-wrap: wrap;
  //   align-items: center;
  //   .btn {
  //     margin-right: 20px;
  //   }
  // }
//   // &-xs {
//   //   height: 40px;
//   // }
//   // &-holder {
//   //   margin-bottom: 10px;
//   // }
//   &s {
//     &-list {
//       display: flex;
//       align-items: flex-end;
//       flex-wrap: wrap;
//       a,
//       input,
//       button {
//         display: inline-flex;
//         margin-right: 10px;
//         margin-bottom: 10px;
//       }
//     }
//     &-holder {
//       margin-top: 20px;
//     }
//   }
//   &.disabled {
//     background-color: $btnDisabled;
//     opacity: 1;
//     pointer-events: none;
//   }
}
  
textarea::-webkit-selection,
input::-webkit-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

textarea::-moz-selection,
input::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

textarea::selection,
input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}
// input {
//   appearance: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   &[type="password"] {
//     font-size: 20px;
//   }
//   &[type='radio'],
//   &[type='checkbox'] {
//     display: none;
//   }
//   &[type='number'] {
//     -moz-appearance: textfield;
//     &::-webkit-outer-spin-button,
//     &::-webkit-inner-spin-button {
//       -webkit-appearance: none;
//       margin: 0;
//     }
//   }
// }
.input {
  // border: 2px solid $lineColor;
  background-color: $white;
  width: 100%;
  height: 54px;
  border-radius: 0;
  padding: 15px 14px;
  font-size: 16px;
  line-height: 19px;
  &:focus {
    // border-color: #D1CFCF;
  }
  &.has-value,
  &:focus {
    padding-top: 25px;
    padding-bottom: 10px;
    & + .input {
      &-label {
        font-size: 12px;
        line-height: 16px;
        top: 8px;
        left: 20px;
        span {
          display: none;
        }
        em {
          display: block;
        }
      }
    }
  }
  &.has-value {
    & ~ .clean-input {
      display: block;
    }
  }
  &-holder {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    &.correct {
      // &:after {
      //   content: "";
      //   position: absolute;
      //   width: 24px;
      //   height: 24px;
      //   right: 16px;
      //   top: 17px;
      //   background-image: url(../img/icons/correct.svg);
      //   background-repeat: no-repeat;
      //   background-position: center;
      // } 
      // .input {
      //   border-bottom-color: $correctColor;
      // }     
    }
    &.error {
      // .input {
      //   border-bottom-color: $lbl;
      // }
      // .error-text {
      //   display: block;
      //   margin-top: 1px;
      // }
    }
    &.success {
      // .success-text {
      //   display: block;
      // }
    }
    &.disabled {
      opacity: .7;
      pointer-events: none;
    }
  }
  &-label {
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    top: 20px;
    left: 20px;
    transition: all 0.2s;
    // color: $fontColor;
    pointer-events:none;
    z-index: 10;
    em {
      display: none;
      font-style: normal;
    }
  }
  &-phone {
    width: 100%;
    height: 54px;
    padding: 28px 8px 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    // color: $fontColor;
    border: none;
    border-bottom: 1px solid #818286;;
  }
  &s {
    &-holder {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: center;
      // margin-bottom: 25px;
      // .input-holder {
      //   width: 38px;
      //   margin: 0 5px;        
      // }
      // .error ~ .error-text {
      //   display: block;
      //   text-align: center;
      //   color: $errorTextColor;        
      // }
    }
  }
  &-note {
    // display: block;
    // font-size: 12px;
    // line-height: 16px;
    // margin-top: 5px;
  }
}
.clean-input {
  position: absolute;
  right: 15px;
  top: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
  z-index: 2;
}