.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  height: 8rem;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px 1px;
  background-color: $yellow2;
  text-transform: uppercase;
  &.fixed {
    background-color:$black;
    .burger-menu span {
      background-color: $yellow2;
    }
    .logo {
      svg .filler {
        fill: $yellow2;
      }
    }
    .header-list a {
      color: $yellow2;
    }
  }
  &-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &-nav {
  }
  &-list {
    li {
      margin: 10px 0 15px;      
    }
    a {
      display: flex;
      align-items: center;
      font-family: $bebasBold;
      font-weight: bold;
      font-size: 18px;
      position: relative;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      height: 100%;
    }
    .active {
      color: $white;
      &:after {
        transform: scaleY(1.3);      
      }
    }
  }
  .h2 {
    color:$white;
    margin: 2rem 0px 1.5rem;
    font-size: 1.6rem;
  }
  &-contacts {
    margin: 30px 0 0;
  }
}
.logo {
  height: 100%;
  display: inline-flex;
  svg {
    height: 8rem;
  }
}
.burger {
  &-holder {
    height: 8rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 50px;
  }
  &-menu {
    padding-left: 10px;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    width: 4rem;
    height: 3rem;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    span {
      height: 0.5rem;
      background-color:$black;
      transform: skewY(-4deg);
      width: 100%;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      &:nth-child(2) {
        width: 80%;
      }
      &:nth-child(3) {
        width: 90%;
      }
    }
  }
}
.opened-burger {
  .header-menu {
    right: -12px;
    transition: right .4s linear;
  }
  .burger-menu {
    span {
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(1) {
        width: 100%;
        transform: rotateZ(45deg) translateY(1rem) translateX(1rem);
      }
      &:nth-child(3) {
        width: 100%;
        transform: rotateZ(-45deg) translateY(-1rem) translateX(1rem);
      }
    }
  }
}

@media (max-width:768px) {
  .header {
    &-menu {
      position: fixed;
      top: 8rem;
      bottom: 0;
      right: 0;
      z-index: 10;
      background-color:$black;
      width: 80%;
      right: -100%;
      transition: right .4s linear;
      padding: 30px 20px 20px;
      border-bottom: 4px solid $yellow2;
      &-inner {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
      }
    }
    &-list {
      color: #ffffff;
    }    
  }
  .logo {
    .runners,
    .squad {
      display: none;
    }
  }
}
@media (min-width:769px) {
  .header {
    overflow: hidden;
    height: 84px;
    &-contacts {
      display: none;
    }
    &-list {
      display: flex;
      height: 84px;
      &-item {
        margin-left: 10px;
        a:hover {
          opacity: 1;
          color: $white;
          &:after {
            transform: scaleY(1.3);            
          }
        }
      }
      a {
        color:$black;
        padding: 0px 18px;
        &:after {
          display: block;
          content: "";
          position: absolute;
          left: -10px;
          right: -10px;
          top: 0px;
          z-index: -1;
          width: calc(100% + 20px);
          height: 100%;
          background-color:$black;
          clip-path: polygon(0px 0px, 100% 0%, 100% 70%, 0px 80%);
          transform: translateY(-100%);
          will-change: transform;
          transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        }
      }
      li {
        margin: 0 0 0 10px;
      }
    }
    &-menu {
      height: 100%;
      &-inner {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    &.fixed {
      .active {
        color: $black;
      }
    }
  }
  .burger-holder {
    display: none;
  }
  .logo {
    svg {
      height: 84px;
    }
  }
}
@media(min-width:991px) {
  .header {
    &-list {
      a {
        padding: 0 40px;
      }
    }
  }
}