.races {
  &-section {
    margin-bottom: 60px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: -50px;
      bottom: -20px;
      left: 0;
      right: 0;
      position: absolute;
      transform: skewY(-3deg);
      background-color: $yellow;
    }
    .slide {
      &-item {        
        color:#000000;
        display: block;
        &-title {
          margin: 10px 0 5px;
          font-size: 18px;
          font-weight: normal;
          font-family: $bebasRegular;
        }
        &-link {
          max-width: 230px;
          margin: auto;
          display: block;
        }
      }
      &-text {
        font-size: 14px;
        margin: 5px 0;
      }
      &-img {
        height: 0;
        padding-top: 100%;
        width: 100%;
        position: relative;
        display: block;
        img {
          position: absolute;
          top: 0;
          left: 50%;
          -webkit-transform: translate(-50%,0);
          transform: translate(-50%,0);
          bottom: 0;
          max-height: 100%;
          max-width: 100%;
          width: 100%;        
        }        
      }
      &r {
        margin: 0 -12px;
        
      }
    }
    .swiper-container {
      padding: 0 12px;
    }
    .container {
      position: relative;
    }
  }
}
.start {
  &-info {
    color: $white;
    text-align: center;
    margin: 40px 0 0;
  }
  &-img {
    margin-bottom: 15px;
  }
  &-title {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: left;
  }
  &-date {
    text-align: left;
  }
  &-link {
    display: inline-block; 
  }
}
@media (min-width:768px) {
  .races {
    &-section {
      .slide {
        &-info {
          padding-bottom: 30px;
        }
        &r {
          margin: 0 auto; 
          padding: 0 40px;         
        }
      }
      .swiper-container {
        padding: 0;
      }
    }
  }
  .start-info {
    color: $black;
  }
}
@media (min-width:1280px) {
  .races {
    &-section {
      .slide {
        &-info {
          padding-bottom: 30px;
        }
      }
      &:after {
        top: -100px;
        bottom: 35%;
      }
    }
  }
}