*,
:before,
:after {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
html, 
body {
  height: 100%;
}
html {
  position: relative;
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  min-width: 320px;
  width: 100%;
  color: $black;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: $content-font;
  -webkit-font-smoothing: antialiased;
  font-size: 1.8rem;
  font-weight: 400;
  &.opened-burger,
  &.opened-search,
  &.filter-opened {
    height: 100%;
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  // color: $fontColor;
  transition: all .3s ease;

  &:hover {
    // color: $linkHover;
    // opacity: .7;
  }
}

img {
  vertical-align: top;
  max-width: 100%;
}
.link {
  // color: $linkColor;
  cursor: pointer;
  &:hover {
    opacity: .7;
    // color: $linkHover;
  }  
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}
.main {
  flex: 1 0 auto;
  padding-top: 8rem;
}
.center {
  text-align: center;
}
.section {
  margin: 0 0 50px;
  &-title {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 2rem 0px;
    color:$black;
    font-family: $content-font;;
    font-weight: bold;
    text-transform: uppercase;
    &-text {
      padding: 2rem;
      font-size: 2rem;
      background: $white;
      position: relative;
      z-index: 1;
      display: inline-flex;
    }
    &-img {
      padding: 2rem 4rem;
      font-size: 2rem;
      text-align: center;
      transform: skewY(4deg);
      svg {
        font-size: 6rem;
      }
    }
    &:before {
      content: "";
      display: block;      
      height: 4px;
      width: 100%;
      position: absolute;
      background-color: Black;
      top: calc(50% - 2px);
      z-index: 1;      
      transform: skewY(-3deg);
    }
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.bold {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "bebas_neueregular", Arial, Helvetica, sans-serif;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}
  
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
    margin-bottom: 0em;
}
a,
a:hover {
  color: inherit;
  text-decoration: none;
}
body::-webkit-scrollbar {
  appearance: none;
  width: 10px;
  height: 10px;
}
body::-webkit-selection {
  background-color: #ef2b31;
  color: rgba(0, 0, 0, 0.87);
}
body::-moz-selection {
  background-color: #ef2b31;
  color: rgba(0, 0, 0, 0.87);
}
body::selection {
  background-color: #ef2b31;
  color: rgba(0, 0, 0, 0.87);
}
body::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(239, 43, 49, 0.7);
  transition: color 0.2s ease 0s;
}
body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-radius: 0px;
}

@media (min-width: 769px) {
  .container {
    padding: 0 15px;
    max-width: 1230px;
  }
  .title {
    &-section {
      margin: 0 0 25px;
    }
  }
  .section {
    // margin: 0 0 60px;
    &-title-text {
      font-size: 48px;
    }
  }
  .main {
    padding-top: 84px;
  }
}

@media (min-width: 1280px) {
  .title {
    &-section {
      margin: 0 0 30px;
    }
  }
  .section {
    // margin: 0 0 100px;
  }
}

@media (min-width: 1701px) {
  .container {
    // max-width: 1626px;
  }
}

@media (max-width: 1279px) {
  .main {
    padding-top: 64px;
  }
}
