.promo {
  &-section {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    padding: 8rem 0;
    color: #ffffff;
    .bold {
      color: $yellow
    }
    &:after {
      z-index: -1;
      background-color: $black;
      opacity: 0.5;
      display: block;
      content: "";
      position: absolute;
      inset: 0px;
    }
    .btn {
      font-family: $bebasBold;
      transform: skewY(0);
    }

  }
  &-p {
    font-weight: 500;
    font-size: 2rem;
    max-width: 560px;
    margin: 0 auto 2rem;
  }
  &-text {
    text-align: center;
    text-transform: uppercase;
  }
}
@media (min-width: 480px) {
  .promo-section {
    padding: 10rem 0;
  }
}
@media (min-width: 769px) {
  .promo {
    &-section {
      // height: 100vh;
      .bold {
        color: $black;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 56%;
      min-width: 320px;
      position: relative;
      padding: 9rem 0;
      z-index: 1;
      &:after {
        display: block;
        content: "";
        position: absolute;
        left: -300%;
        top: 0px;
        z-index: -1;
        width: calc(400% + 2rem);
        height: 100%;
        border-top: 20px solid $black;
        background-color: rgba(254, 227, 76, .7);
        transform: skewY(-4deg);
      }
    }
    &-text {
      color: $black;
      text-transform: uppercase;
      font-family: $bebasRegular;
      margin-bottom: 2rem;
      text-align: left;
    }
    &-p {
      max-width: 470px;
      font-size: 2.5rem;
      line-height: 1.5;
    }
  }
}
@media (min-width: 991px) {
  .promo {
    &-p {
      font-size: 4.4rem;
      line-height: 1.22;
      margin-left: 0;
    }
    &-content {
      width: 45%;
      margin-top: 50px;
      .btn {
        font-size: 24px;
        &-holder {
          margin-top: 50px;
        }
      }
    }
    &-section {
      height: 100vh;
    }
  }
}
@media (min-width: 1280px) {

}
@media (min-width: 1701px) {

}