.swiper {
  &-button {
    &-next,
    &-prev {
      display: none;
      background: url("../img/paw.png") no-repeat center;
      background-size: cover;
      opacity: .75;
      width:50px;
      height: 50px;
      &:after {
        content: none;
      }
    }
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
      transform: rotate(180deg);
    }
  }
}



// .slick {
//   &-dots {
//     bottom: -5px;

//     li {
//       button {
//         &::before {
//           content: "";
//           border-radius: 50%;
//           background-color: $black;
//           opacity: 1;
//           transition: $transition;
//           width: 15px;
//           height: 15px;
//         }
//       }
//       &.slick-active {
//         button {
//           &::before {
//             border: 4px solid $green;
//             opacity: 1;
//           }
//         }
//       }
//     }
//   }

//   &-slide {
//     padding: 8px;
//   }

//   &-next,
//   &-prev {
//     font-size: 0;
//     line-height: 0;
//     top: 50%;
//     width: 20px;
//     height: 20px;
//     transform: translate(0,-50%);
//     cursor: pointer;
//     color: transparent;
//     border: none;
//     outline: 0;
//     background: 0 0;
//   }
//   &-arrow {
//     height: 50px;
//     width: 50px;
//     z-index: 10;
//     padding: 0;
//     position: absolute;

//     &::before {
//       display: flex;
//       content: "";
//       justify-content: center;
//       align-items: center;
//       width: 100%;
//       height: 100%;
//       background: url("../img/paw.png") no-repeat center;
//       background-size: cover;
//       opacity: .75;
//     }
//     &:hover {
//       &:before {
//         opacity: 1;
//       }
//     }
//   }
//   &-prev {
//     left: -50px;
//     top: 50%;
//     transform: translateY(-25px);
//   }

//   &-next {
//     transform: rotateZ(180deg) translateY(25px);
//     top: calc(50%);
//     right: -50px;
//   }

//   &-list {
//     padding: 20px 0;
//     margin: 0 15px;
//   }
// }
// @media (max-width: 580px) {
//   .slick {
//     &-prev {
//       left: 50%;
//       top: 100%;
//       transform: translate3d(calc(-50% - 30px), 0px, 0px);
//     }
//     &-next {
//       right: 50%;
//       top: 100%;
//       transform: rotateZ(180deg) translate3d(calc(-50% - 30px), 0px, 0px);
//     }
//   }
// }
@media (min-width:768px) {
  .swiper {
    &-button {
      &-next,
      &-prev {
        display: block;       
      }
    }
  }
}
@media (min-width:1280px) {
  .slider {
    margin: 0 auto;
  }
}