.user {
  &-section {
    .section-body {
      max-width: 840px;
      margin: 0 auto;
    }
    .btn {
      &-holder {
        margin: 50px 0;
        text-align: center;
      }
    }
  }
  &-month {
    margin: 30px 0 20px;
    text-align: right;
    padding-right: 5rem;
    font-weight: bold;
    font-size: 20px;
  }
  &-item {
    margin-bottom: 2rem;
    position: relative;
    font-size: 2.4rem;
    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0px;
      top: calc(50%);
      z-index: -1;
      width: 100%;
      height: 6rem;
      transform: translate3d(0px, -50%, 0px) skewX(-4deg);
      background-color: rgb(161, 182, 209);
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
    &:nth-child(1)::after {
      background-color: rgb(255, 233, 41);
    }
    &:nth-child(2)::after {
      background-color: rgb(255, 184, 30);
    }
    &:nth-child(3)::after {
      background-color: rgb(255, 144, 0);
    }
    &:hover {
      &:after {
        transform: translate3d(0px, -50%, 0px) skewX(0deg);
        opacity: 0.8;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 1px;
      }
    }
    
  }
  &-list { 
    &-index {
      min-width: 20px;
    }
    &-item {
      margin-bottom: 10px;
      font-size: 18px;      
    }
    &-link {
      display: flex;
      align-items: center;
    } 
    &-img {
      width: 31px;
      height: 31px;
      min-width: 31px;
      margin: 0 10px;
      img {
        transform: skew(-4deg);
      }
    } 
    &-team {
      display: inline-flex;
      margin-left: 10px;
      position: relative;
      span {
        position: relative;
        z-index: 1;
        color: $white;
      }
      &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -5px;
        right: -5px;
        bottom: -4px;
        background-color: $black;
        transform: skew(-4deg);
      }
    } 
  }
  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6rem 0 2rem;
    font-weight: bold;
    cursor: pointer;
  }
  &-info {
    display: flex;
    align-items: center;
    font-weight: bold;
    span {
      margin-right: 2.4rem;
    }
  }
  &-index {
    margin-right: 2rem;
    width: 2rem;
    font-size: 3rem;
  }
  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    margin-right: 3rem;
    transform: skewX(-4deg);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 1px;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    background: none;
    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  &-team {
    margin-right: 2rem;
  }
  &-distance {
    font-size: 3rem;
    span {
      font-size: 2rem;
      display: inline-flex;
      margin-left: 3px;
    }
  }
  &s-section {
    .container {
      overflow-x: auto;
    }
    .user {
      &-list {
        margin: 40px 0 80px;
        &-item {
          width: 100%;
          max-width: 100%;
        }
        &-top {
          margin: 20px 0 10px;
        }
      }
      &-link {
        padding: 0;
        font-weight: 400;
        font-size: 20px;
        padding: 5px 0;
        border-bottom: 1px solid #a0a0a0;
        &:hover {
          background-color: $yellow;
        }
        span {
          display: inline-flex;
        }
      }
      &-img {
        margin-left: auto;
      }
      &-index {
        font-size: 20px;
        display: inline-flex;
      }
      &-distance {
        font-size: 20px;
      }
      &-team {
        margin: 0;
      }
    }
    .col {
      &-1 {
        width: 220px;
        display: flex;
        align-items: center;
      }
      &-2 {
        width: calc(100% - 660px);      
      }
      &-3 {
        width: 220px;
      }
      &-4 {
        width: 220px;
      }
      &-item {
        cursor: pointer;
        padding: 10px 0;       
        span {
          position: relative;
          &:after {
            content:"";
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;  
            border-top: 7px solid #000;
            position: absolute;
            top: 8px;
            right: -15px;
          }
        }
        &.active {
          span {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
  &-list {
    &-top {
      display: flex;  
    }
  }
  &-container {
    min-width: 900px;
    width: 100%;
  }
}
@media(min-width:768px) {
  .user {
    &-list {
      &-item {
        max-width: 500px;
        margin: 0 auto 10px;
        font-size: 20px;
      }
      &-img {
        min-width: 41px;
        width: 41px;
        height: 41px;
        margin: 0 40px;
      }
    }
  }
}
@media (max-width:768px) {
  .user {
    &-item {
      font-size: 2rem;
      &:after {
        transform: translate3d(0px, -50%, 0px);
      }
    }
    &-section {
      .container {
        padding: 0;
      }
    }
    &-team {
      display: none;
    }
    &-index {
      display: none;
    }
    &s-section {
      .col {
        &-1 {
          width: 120px;
        }
        &-2 {
          width: calc(100% - 360px);      
        }
        &-3 {
          width: 120px;
        }
        &-4 {
          width: 120px;
        }
      }
      .user {
        &-index {
          font-size: 16px;
        }
        &-img {
          margin-right: 15px;
          width: 5rem;
          height: 5rem;
        }
        &-distance,
        &-link {
          font-size: 16px;
        }
      }
    }
    &-container {
      min-width: 600px;
      width: 100%;
      padding: 0 10px 0 0;
    }
  }
}
@media (max-width: 600px) {
  .user {
    &-info {
      span {
        font-size: 18px;
      }
    }
    &-distance {
      font-size: 24px;
      span {
        font-size: 1.5rem;
      }      
    }
    &-img {
      margin-right: 1rem;
    }
    &-link {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}