$gray: #333333;
$black: #0c090d;
$white:#ffffff;
$white1: #fdfffc;
$red: #ef2b31;
$yellow: #ffed00;
$yellow2:  #ffe928;
$blue: #5f6bf1;
$green: #ffed00;

$border-radius: 8px;
$button-border-radius: 32px;

$content-font: "Roboto", Arial, Helvetica, sans-serif;
$bebasBold: "bebas_neuebold", Arial, Helvetica, sans-serif;
$bebasBook: "bebas_neuebook", Arial, Helvetica, sans-serif;
$bebasLight: "bebas_neuelight", Arial, Helvetica, sans-serif;
$bebasRegular: "bebas_neueregular", Arial, Helvetica, sans-serif;

$box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

$gradient: $red;

$main-column-width: 64.254703328%;
$center-column-width: 60%;

$transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

$fs24: 2.4rem;
$fs18: 1.8rem;
$fs29: 2.9rem;

$xs: 376px;
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$xxl: 1400px;
