@import 'vendor/normalize.scss';
@import 'vendor/slick.scss';

@import 'partials/variables';
@import 'partials/slick.scss';
@import 'partials/fonts';
// @import 'partials/icons';
@import 'partials/layout';
@import 'partials/base';
@import 'partials/form';
@import 'partials/header';
// // @import 'partials/search';
// @import 'partials/burger';
@import 'partials/promo';
// @import 'partials/benefits';
// // // @import 'partials/product';
// // // @import 'partials/slider';
// // // @import 'partials/breadcrumbs';
@import 'partials/footer';
// // // @import 'partials/modal';
// // // @import 'partials/basket';
// // // @import 'partials/seo';
// // // @import 'partials/preloader';
// // // @import 'partials/subscribe';
// // // @import 'partials/auth';