<div class="section info-section">
  <div class="section-title line-down">
    <div class="section-title-text">СТАТИСТИКА</div>
  </div>

  <div class="section-body">
    <div class="container">
      <div class="info-block">
        <div class="info-item">
          <div class="info-title">нас
          </div>
          <div class="info-title">
            <div class="info-num">334</div>
            участников
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">ИЗ           
          </div>
          <div class="info-title">
            <div class="info-num">12</div>
            ГОРОДОВ
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">всего пробежали            
          </div>
          <div class="info-title">
            <div class="info-num">10948</div>км
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">в этом месяце
          </div>
          <div class="info-title">
            <div class="info-num">371</div>км
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">
            <a target="_blank" href="https://linktr.ee/SquadUArunners" class="btn btn-secondary">Присоединиться</a>
          </div>
          <div class="info-title">
            <a target="_blank" href="https://linktr.ee/SquadUArunners" class="btn btn-secondary">участники</a>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>